# Region for model providers: prc, international
REGION=

# OpenAI Compatible models
OPENAI_API_KEY=sk-...
OPENAI_API_BASE=https://api.openai.com/v1

# DashScope (Qwen models)
DASHSCOPE_API_KEY=sk-...

# SiliconFlow
SILICONFLOW_API_KEY=sk-...

# Ollama models
OLLAMA_BASE_URL=http://localhost:11434

# LangSmith (tracing)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=langgraph-up-react
LANGCHAIN_API_KEY=lsv2_sk_...

# Search Engines
TAVILY_API_KEY=tvly-...
